<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <a class='nombreLogo' href='/'>HoopStyles</a>
        <div id='header-items'>
            <div id='searchBar'>
                <form id='formSearch' action='' method='GET'>
                    <input type='search' name='search' placeholder='Search...'/>
                    <input type='image' src='/icons/Lens.svg' name='submit-search'/>
                </form>
            </div>
            <div id='cart'>
                <a href=''><img id='cartImg' src='/icons/Cart.svg' alt='cart'></a>
                <span th:if="${user != null}" id='numberCart'>0</span>
            </div>
            <div id='user' href='/profile'>
                <img id='userImg' src='/icons/User.svg' alt=''>
                <div class="profileDetails">
                    <a th:if="${user == null}" href='/auth/login'>Login</a>
                    <a href='/profile'>Profile</a>
                    <a th:if="${user != null}" href='/auth/logout'>Logout</a>
                </div>
            </div>
        </div>
    </header>
</html>