<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile - Admin</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="Mario Esparza">
    <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
    <link href="/css/profile/Profile.css" rel="stylesheet" media="all" type="text/css" />
    <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css" />
    <link href="/css/profile/Side_Bar.css" rel="stylesheet" media="all" type="text/css" />
    <link href="/css/profile/Admin.css" rel="stylesheet" media="all" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/Chart.min.css" rel="stylesheet" media="all" type="text/css" />
</head>

<body>
    <header th:replace="~{layouts/header::header}"></header>
    <main>
        <aside th:replace="~{layouts/sideBar::side-bar}"></aside>
        <section class="admin-data">
            <article class="data-summary">
                <div class="users-summary">
                    <img class="icons" src="/icons/group_users.svg">
                    <span class="total-summary" th:text="${users.size()}"></span>
                    <span>Active users</span>
                </div>
                <div class="orders-summary">
                    <img class="icons green" src="/icons/sell.svg">
                    <span class="total-summary" th:text="${orders.size()}"></span>
                    <span>Complete Orders</span>
                </div>
                <div class="products-summary">
                    <img class="icons orange" src="/icons/inventory.svg">
                    <span class="total-summary" th:text="${products.size()}"></span>
                    <span>Total products</span>
                </div>
            </article>
            <article class="data-graph">
                <canvas id="canvas"></canvas>
            </article>
            <article class="data-products">
                <div th:each="product : ${products}" class="product">
                    <img class="product-image" th:src="${product.getImage()}" alt='product' />
                    <span th:text="${product.getCategoriesString()}" class="productCategory">Category</span>
                    <span th:text="${product.getName()}" class='name'></span>
                    <span th:text="${product.getPrice() + '€'}" class='price'></span>
                    <input type="hidden" th:name="${product.getId()}">
                    <div class="buttons-actions">
                        <form class="form-remove" th:action="${'/product/remove/' + product.getId()}" method="post">
                            <input type="submit" value="Remove" class="remove-button">
                        </form>
                        <form class="form-edit" th:action="${'/product/edit/' + product.getId()}" method="post" enctype="multipart/form-data">
                            <input type="submit" value="Edit" class="edit-button">
                            <div class="edit-window">
                                <img th:src="${product.getImage()}" class="edit-image" alt='edit-product' />
                                <input class="edit-file" type="file" name="file">
                                <span class='edit-category'>Category: <input name="category" type="text" th:value="${product.getCategoriesString()}"></span>
                                <span class='edit-name'>Name: <input name="name" type="text" th:value="${product.getName()}"></span>
                                <span class='edit-price'>Price: <input name="price" type="number" th:value="${product.getPrice()}"></span>
                                <a class="edit-button">Close</a>
                                <a class="edit-button save">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </section>
        <div class="overlay"></div>
    </main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/chart.min.js"></script>
<script>
    const canvas = document.getElementById('canvas').getContext('2d');
    const formEdit = document.querySelectorAll('.form-edit');
    const products = document.querySelectorAll('.product');
    const overlay = document.querySelector('.overlay');
    const save = document.querySelectorAll('.save');
    const editImage = document.querySelectorAll('.edit-image');

    let chart = new Chart(canvas, {
        type: 'bar', 
        data: {
            labels: ['October', 'November', 'December', 'January'],
            datasets: [{
                label: "Sales (€)",
                data: [10,20,40,50],
                backgroundColor: [
                    'green',
                    'green',
                    'green',
                    'green'
                ]
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100,
                    grid : {
                        display: false
                    }
                },
                x: {
                    grid : {
                        display: false
                    }
                }
            }
        }
    });

    overlay.addEventListener('click', (e) => {
        e.stopPropagation();
    });

    products.forEach(product => {
        product.addEventListener('click', (e) => {
            showEditWindow(e.target.querySelector('.form-edit'));
        });
    });

    formEdit.forEach(form => {
        form.addEventListener('submit', (e) => {
            e.preventDefault();
            showEditWindow(form);
        })
    });

    save.forEach(button => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            const form = e.target.parentElement.parentElement;
            form.submit();
        })
    });

    editImage.forEach(image => {
        image.addEventListener('click', (e) => {
            e.preventDefault();
            const input = e.target.parentElement.querySelector('.edit-file');
            input.click();
        })
    });

    function showEditWindow(element) {
        console.log(element);

        const product = element.parentElement.parentElement;
        const editWindow = element.querySelector('.edit-window');
            
        product.classList.add("edit-product");
        editWindow.style.visibility = 'visible';
        overlay.style.display = 'block';
        
        element.querySelector('.edit-window > a').addEventListener('click', () => {
            editWindow.style.visibility = 'hidden';
            overlay.style.display = 'none';
            product.classList.remove("edit-product");
        });
    }

</script>

</html>