<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layouts/header::header}"></header>
        <main>
            <h1 
                style=" display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 70vh;
                        font-size: 4rem;
                "
            >
            404 Page Not Found :(
            </h1>
        </main>
    </body>
</html>