<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cart</title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Cart.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layouts/header::header}"></header>
        <main>
            <h2 class="title" th:text="${'Your Cart (' + order.getOrderLines().size + ')'}">Your Cart</h2> 
            <div class="data-cart">
                <section class="products">
                    <div class="product" th:each="orderLine : ${order.getOrderLines()}">
                        <section>
                            <img th:src="${orderLine.getProduct().getImage()}" alt='product'/>
                        </section>
                        <section>
                            <h2 class="product-title" th:text="${orderLine.getProduct().getName()}"></h2>
                            <p class="product-category" th:text="${orderLine.getProduct().getCategoriesString()}"></p>
                            <p class="product-price" th:text="${orderLine.getProduct().getPrice() + '€'}"></p>
                            <p>Size: <strong class="product-size">Universal</strong></p>
                            <a th:href="${'/cart/remove/'+ orderLine.getProduct().getId()}" class="buttons remove">Remove</a>
                            <div class="counter">
                                <button class="buttons">-</button>
                                <input class="quantity" type="number" th:value="${orderLine.getQuantity()}">
                                <button class="buttons">+</button>
                            </div>
                        </section>
                    </div>
                </section>
                <section class="total">
                    <h3>TOTAL</h3>
                    <p><span>Subtotal</span><span class="total-prices" th:text="${order.getTotal()}"></span></p>
                    <p><span>Shipping</span><span class="total-prices">FREE</span></p>
                    <p><span>Total (TAX Included)</span><span class="total-prices" th:text="${order.getTotal()}"></span></p>
                    <div class="button-conteiner">
                        <button class="buttons">Keep buying</button>
                        <button class="buttons">Confirm</button>
                    </div>
                </section>
            </div>
        </main>
    </body>
    <script>
        const buttons = document.querySelectorAll('.counter .buttons');

        buttons.forEach((button) => {
            button.addEventListener('click', () => {
                const quantity = button.parentElement.querySelector('.quantity');
                if (button.innerText === '+') {
                    quantity.value = parseInt(quantity.value) + 1;
                } else if (quantity.value > 0) {
                    quantity.value = parseInt(quantity.value) - 1;
                }
            });
        });
    </script>
</html>