<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HoopsStyle</title>
        <meta charset="UTF-8">
        <meta name="description" content="MainPage">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Products.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header>
            <a class='nombreLogo' href='/' >HoopStyles</a>
            <div id='header-items'>
                <div id='searchBar'>
                    <form id='formSearch' action='' method='GET'>
                        <input type='search' name='search' placeholder='Search...'/>
                        <input type='image' src='/icons/Lens.svg' name='submit-search'/>
                    </form>
                </div>
                <div id='cart'>
                    <a href=''><img id='cartImg' src='/icons/Cart.svg' alt='cart'></a>
                    <span id='numberCart'>0</span>
                </div>
                <div id='user' href='/profile'>
                    <img id='userImg' src='/icons/User.svg' alt=''>
                    <div class="profileDetails">
                        <a href='/auth/login'>Login</a>
                        <a href='/register'>Register</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="categories">
                <form action="" method="GET">
                    <div class='categorie'>
                        <label>
                            <input type='checkbox' name='categorie' value='All'/>
                            <span>All</span>
                        </label>
                    </div>
                    <div th:each="category : ${categories}" class="categorie">
                        <label>
                            <input type='checkbox' name="categorie" th:value="${category.getName()}">
                            <span th:text="${category.getName()}"></span>
                        </label>
                    </div>
                    <hr>
                    <label for="price">Filter by price (€)</label>
                    <div id="rangePrices">
                        <label for="minPrice">Min</label>
                        <input type="range" class="priceRange" id="minPriceRange" name="minPrice" min="0" max="250" value="0" step="1" />
                        <output id="minValue" class="value"></output>
                        <label for="maxPrice">Max</label>
                        <input type="range" class="priceRange" id="maxPriceRange" name="maxPrice" min="0" max="250" value="0" step="1" />
                        <output id="maxValue" class="value"></output>
                    </div>
                    <input id="filter" type='submit' value='Filter'/>
                </form>
            </div>
            <form class="products" action="" method="POST">
                <!-- <?php
                    if($noProducts) echo $error;
                    else {
                        foreach ($products as $i=>$product) {
                                echo "<div class='product'>";
                                echo "    <img src='".$product["image"]."' alt='product'/>";
                                if(implode(" ",explode("-",substr($product["name"], 0 ,strpos($product["name"], ".")))) == "")
                                {
                                    echo "    <span class='name'>".$product["name"]."</span>";
                                } 
                                else
                                {
                                    echo "    <span class='name'>".implode(" ",explode("-",substr($product["name"], 0 ,strpos($product["name"], "."))))."</span>";
                                }
                                echo "    <span class='price'>".$product["unit_price"]."€</span>";
                                echo "    <div>";
                                echo "        <button class='addToCart' type='submit' name='productId' value='".$product["id"]."'>Add to cart</button>";
                                echo "        <input class='quantity' type='number' name='quantity".$product['id']."' min='0' max='10' value='0'/>";
                                echo "    </div>";
                                echo "    <input class='position' type='hidden' name='".$product["id"]."' value='' />";
                                echo "</div>";
                        }    
                    } 
                ?> -->
            </form>
        </main>
        <script>
            const quantityInputs = document.querySelectorAll(".quantity");
            const positionInputs = document.querySelectorAll(".position");
            const addButtons = document.querySelectorAll(".addToCart");
            const checkboxes = document.querySelectorAll("input[type=checkbox]");
            const minValue = document.getElementById("minValue");
            const minInput = document.getElementById("minPriceRange");
            const profile = document.querySelector("#userImg");

            const maxValue = document.getElementById("maxValue");
            const maxInput = document.getElementById("maxPriceRange");
            
            minValue.textContent = minInput.value;
            maxValue.textContent = maxInput.value;

            profile.addEventListener("click", (e) => {
                let visibilityState = document.querySelector(".profileDetails").style.visibility;
                document.querySelector(".profileDetails").style.visibility = visibilityState == "visible" ? "hidden" : "visible";
            });

            minInput.addEventListener("input", (event) => {
                minValue.textContent = event.target.value;
                maxInput.value = event.target.value;
                maxValue.textContent = event.target.value;
            });
            maxInput.addEventListener("input", (event) => {
                maxValue.textContent = event.target.value;
            });

            positionInputs.forEach((inputSel) => {
                inputSel.value = inputSel.parentElement.children.item(0).getBoundingClientRect().top;
            });

            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener("change", (event) => {
                    if(event.target.value == "All")
                    {
                        checkboxes.forEach((checkbox) => {
                            checkbox.checked = false;
                        });
                        event.target.checked = true;
                    } else
                    {
                        checkboxes.forEach((checkbox) => {
                            if(checkbox.value == "All") checkbox.checked = false;
                        });
                    }
                });
            });

            quantityInputs.forEach((input) => {
                validateQuantity(input);
                input.addEventListener("input", (event) => {
                    validateQuantity(input);
                });
            });

            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }

            window.addEventListener("load", () => {
                const y = "";
                window.scrollTo(0, y);
            })

            function validateQuantity(targetInput) {
                if(targetInput.value == 0) 
                {
                    targetInput.parentElement.children.item(0).classList.add("disabled");
                }
                else
                {
                    targetInput.parentElement.children.item(0).classList.remove("disabled");
                }
            }
        </script>
    </body>
</html>