<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HoopsStyle</title>
        <meta charset="UTF-8">
        <meta name="description" content="MainPage">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Products.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header>
            <a class='nombreLogo' href='/'>HoopStyles</a>
            <div id='header-items'>
                <div id='searchBar'>
                    <form id='formSearch' action='' method='GET'>
                        <input type='search' name='search' placeholder='Search...'/>
                        <input type='image' src='/icons/Lens.svg' name='submit-search'/>
                    </form>
                </div>
                <div id='cart'>
                    <a href=''><img id='cartImg' src='/icons/Cart.svg' alt='cart'></a>
                    <span th:if="${user != null}" id='numberCart'>0</span>
                </div>
                <div id='user' href='/profile'>
                    <img id='userImg' src='/icons/User.svg' alt=''>
                    <div class="profileDetails">
                        <a th:if="${user == null}" href='/auth/login'>Login</a>
                        <a href='/profile'>Profile</a>
                        <a th:if="${user != null}" href='/auth/logout'>Logout</a>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="filters">
                <form action="" method="GET">
                    <div class="categories">
                        <div th:each="category : ${categories}" class="categorie">
                            <label>
                                <input class="hiddenCheckbox" type='checkbox' name="categorie" th:value="${category.getName()}">
                                <span th:text="${category.getName()}"></span>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <label for="price">Filter by price (€)</label>
                    <div id="rangePrices">
                        <label for="minPrice">Min</label>
                        <input type="range" class="priceRange" id="minPriceRange" name="minPrice" min="0" max="250" value="0" step="1" />
                        <label for="maxPrice">Max</label>
                        <input type="range" class="priceRange" id="maxPriceRange" name="maxPrice" min="0" max="250" value="0" step="1" />
                    </div>
                    <input id="filter" type='submit' value='Filter'/>
                </form>
            </div>
            <div class="products">
                <div th:each="product : ${products}" class="product">
                    <img th:src="${product.getImage()}" alt='product'/>
                    <span class="productCategory">TODO Category</span>
                    <span th:text="${product.getName()}" class='name'></span>
                    <span th:text="${product.getPrice() + '€'}" class='price'></span>
                    <input type="hidden" th:name="${product.getId()}">
                </div>
            </div>
        </main>
        <script>
            const quantityInputs = document.querySelectorAll(".quantity");
            const addButtons = document.querySelectorAll(".addToCart");
            const checkboxes = document.querySelectorAll("input[type=checkbox]");
            const profile = document.querySelector("#userImg");
            const products = document.querySelectorAll(".product");
            
            profile.addEventListener("click", profileImageOptions);

            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener("change", (e) => {
                    checkAllIsChecked(e);
                });
            });

            quantityInputs.forEach((input) => {
                validateQuantity(input);
                input.addEventListener("input", (event) => {
                    validateQuantity(input);
                });
            });

            products.forEach((product) => {
                product.addEventListener("click", (e) => {
                    const id = product.querySelector("input[type=hidden]").name;
                    window.location.href = "/product/" + id;
                });
            });

            function profileImageOptions(e) {
                const profileClass = document.querySelector(".profileDetails").classList;
                if(profileClass.contains("profileDetailsVisible")) profileClass.remove("profileDetailsVisible");
                else profileClass.add("profileDetailsVisible");
            }

            function checkAllIsChecked(e) {
                if(e.target.value == "All")
                {
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                    e.target.checked = true;
                } else
                {
                    checkboxes.forEach((checkbox) => {
                        if(checkbox.value == "All") checkbox.checked = false;
                    });
                }
            }

            function validateQuantity(targetInput) {
                if(targetInput.value == 0) 
                {
                    targetInput.parentElement.children.item(0).classList.add("disabled");
                }
                else
                {
                    targetInput.parentElement.children.item(0).classList.remove("disabled");
                }
            }

        </script>
    </body>
</html>