<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HoopsStyle</title>
        <meta charset="UTF-8">
        <meta name="description" content="MainPage">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Products.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layouts/header::header}"></header>
        <main>
            <div class="filters">
                <form th:action="@{/filter}" method="GET">
                    <div class="categories">
                        <div th:each="category : ${categories}" class="categorie">
                            <label>
                                <input class="hiddenCheckbox" type='checkbox' name="category" th:value="${category.getName()}">
                                <span th:text="${category.getName()}"></span>
                            </label>
                        </div>
                    </div>
                    <hr class="separator">
                    <div th:replace="~{layouts/rangePrice::range}"></div>
                    <input id="filter" type='submit' value='Filter'/>
                </form>
            </div>
            <div class="products">
                <div th:each="product : ${products}" class="product">
                    <img th:src="${product.getImage()}" alt='product'/>
                    <span th:text="${product.getCategoriesString()}" class="productCategory">Category</span>
                    <span th:text="${product.getName()}" class='name'></span>
                    <span th:text="${product.getPrice() + '€'}" class='price'></span>
                    <input type="hidden" th:name="${product.getId()}">
                </div>
            </div>
        </main>
        <script>
            const quantityInputs = document.querySelectorAll(".quantity");
            const addButtons = document.querySelectorAll(".addToCart");
            const checkboxes = document.querySelectorAll("input[type=checkbox]");
            const profile = document.querySelector("#userImg");
            const products = document.querySelectorAll(".product");
            const filterButton = document.querySelector("#filter");
            
            profile.addEventListener("click", profileImageOptions);

            checkboxes.forEach((checkbox) => {
                checkbox.addEventListener("change", (e) => {
                    checkAllIsChecked(e);
                });
            });

            quantityInputs.forEach((input) => {
                validateQuantity(input);
                input.addEventListener("input", (event) => {
                    validateQuantity(input);
                });
            });

            products.forEach((product) => {
                product.addEventListener("click", (e) => {
                    const id = product.querySelector("input[type=hidden]").name;
                    window.location.href = "/product/" + id;
                });
            });

            filterButton.addEventListener("click", (e) => {
                e.preventDefault();
                const inputRanges = document.querySelectorAll("input[name=price]");
                if(inputRanges[0].value == 0 && inputRanges[1].value == 0)
                {
                    inputRanges.forEach(input => {
                        input.removeAttribute("name");
                    });
                }
                e.target.parentElement.submit();
            })

            function profileImageOptions(e) {
                const profileClass = document.querySelector(".profileDetails").classList;
                if(profileClass.contains("profileDetailsVisible")) profileClass.remove("profileDetailsVisible");
                else profileClass.add("profileDetailsVisible");
            }

            function checkAllIsChecked(e) {
                if(e.target.value == "All")
                {
                    checkboxes.forEach((checkbox) => {
                        checkbox.checked = false;
                    });
                    e.target.checked = true;
                } else
                {
                    checkboxes.forEach((checkbox) => {
                        if(checkbox.value == "All") checkbox.checked = false;
                    });
                }
            }

            function validateQuantity(targetInput) {
                if(targetInput.value == 0) 
                {
                    targetInput.parentElement.children.item(0).classList.add("disabled");
                }
                else
                {
                    targetInput.parentElement.children.item(0).classList.remove("disabled");
                }
            }

        </script>
    </body>
</html>