<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HoopsStyle</title>
        <meta charset="UTF-8">
        <meta name="description" content="MainPage">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Product.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layouts/header::header}"></header>
        <main>
            <form th:action="@{/cart/add/} + ${product.id}" method="POST">
                <div class="product">
                    <section class="productImage">
                        <img th:src="${product.getImage()}" alt='product'/>
                    </section>
                    <section class="productDetails">
                        <article class="info">
                            <h1 th:text="${product.getName()}"></h1>
                            <p th:text="${product.getPrice()}"></p>
                            <input type="submit" value="Add to cart"/>
                        </article>
                        <article class="description">
                            <h3>Description</h3>
                            <p th:if="${product.getDescription() != null}" th:text="${product.getDescription()}"></p>
                        </article>
                    </section>
                </div>
            </form>
        </main>
    </body>
</html>