<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="Mario Esparza">
        <link rel="shortcut icon" href="/icons/Icon.png" type="image/x-icon">
        <link href="/css/Header.css" rel="stylesheet" media="all" type="text/css"/>
        <link href="/css/Profile.css" rel="stylesheet" media="all" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layouts/header::header}"></header>
        <main>
            <section class="options">
                <ul>
                    <li><a>Información</a></li>
                    <li><a>Añadir primera dirección</a></li>
                    <li><a>Historial y detalles de mis pedidos</a></li>
                    <li><a>Cerrar Sesión</a></li>
                </ul>
            </section>
            <section class="content">
                <h3 th:text="'Hola ' + ${user.getName()}">Hola User</h3>
                <div class="optionsBoxes">
                    <div>Información</div>
                    <div>Añadir primera direccion</div>
                    <div>Historial y detalles de mis pedidos</div>
                </div>
            </section>
        </main>
    </body>
</html>