.admin-data {
    display: grid;
	grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 280px auto;
    grid-gap: 25px;
    margin-right: 50px;
}

.data-summary {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
}

.data-graph {
    grid-column: 2;
    grid-row: 1;
}

.data-products {
    grid-column: 1 / 3;
    grid-row: 2;
    max-height: 520px;
    overflow-y: scroll;
    line-height: 1;
}

.data-summary, .data-graph, .data-products {
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.data-graph, .data-products {
    background-color: rgb(255, 255, 255);
}

.users-summary,
.orders-summary,
.products-summary {
    height: 100%;
    width: 100%;
    margin-right: 25px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    padding: 0 20px 0 20px;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-summary {
    margin-right: 0px;
}

.total-summary {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin: 20px;
}

.icons {
    background-color: #51dcff;
    border-radius: 50%;
    padding: 5px;
    margin-top: 50px;
    width: 40px;
    height: 40px;
}

.icons.green {
    background-color: #97ff51;
}

.icons.orange {
    background-color: #ffae51;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: grey 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    cursor: pointer;
}

.product:hover {
    background-color: rgb(167, 167, 167);
    transition: all 0.2s;
}

.product > * {
    flex: 0 1 100px; 
}

.product > *:first-child {
    margin-right: 90px;
}

.product:last-child {
    border-bottom: none;
}

.product-image {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
}

.buttons-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    width: 100px;
}

.buttons-actions > *:first-child {
    margin-right: 20px;
}

.remove-button, .edit-button, .close-button {
    text-align: center;
    padding: 10px;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: rgb(31, 29, 29);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.remove-button:hover, .edit-button:hover, .close-button:hover {
    background-color: rgb(155, 62, 62);
    color: rgb(255, 255, 255);
}

.close-button {
    transition: none;
}

.edit-window {
    visibility: hidden;
    position: absolute;
    top: 18%;
    left: 40%;
    width: 672px;
    height: 691px;
    z-index: 100;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.edit-window > .edit-button {
    margin-top: 20px;
    width: 200px;
    transition: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
}

.edit-product {
    cursor: default;
}

.edit-product:hover {
    background-color: white;
}

.edit-image {
    width: 300px;
    height: 300px;
    border: 2px solid #adadad;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.edit-category, .edit-name, .edit-price {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.edit-category > input, .edit-name > input, .edit-price > input {
    width: 100px;
    height: 20px;
    margin-left: 5px;
    font-size: 1.2rem;
    text-align: center;
    padding: 5px;
}


.edit-name {

}

.edit-price {

}