.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.title-info {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.profile-image {
    height: 150px;
}

.input-common {
    border-radius: 10px;
    background-color: transparent;
}

.input-info {
    position: relative;
    border: solid 4px var(--secundary-color);
    width: 40%;
    height: 50px;
    margin-top: 20px;
    color: var(--primary-color);
}

.input-info > input {
    margin: 0;
    margin-left: 11px;
    color: inherit;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}

.input-info > input:focus {
    outline: var(--primary-color);
}

.input-empty {
    border: solid 2px var(--empty-input) !important;
    color: var(--empty-input) !important;
}

.input-password-default {
    border: solid 2px var(--disabled-color) !important;
    color: var(--disabled-color) !important;

}

.span-up-animation {
    animation: move-up-span 0.3s ease-out forwards;
}

.span-down-animation {
    animation: move-down-span 0.3s ease-out forwards;
}

.input-info span {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    color: inherit;
    pointer-events: none;
    font-weight: 700;
    transition: 0.3s;
    background-color: var(--ternary-color);
}

.save-info {
    width: 30%;
    margin-top: 30px;
    padding: 10px;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    background-color: var(--secundary-color);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.save-info:hover {
    background-color: var(--hover-color);
}

.dialog-email {
    color: var(--primary-color);
    background-color: var(--secundary-color);
    top: 15%;
    left: 9%;
    padding: 20px;
    border-radius: 10px;
    border: none;
}

.dialog-email div {
    display: flex;
    justify-content: space-around;
}

.dialog-email p:nth-child(3) {
    font-weight: 700;
}

.dialog-email div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    color: var(--secundary-color);
    background-color: var(--primary-color);
}

.dialog-email div a:hover {
    background-color: var(--hover-color);
    color: var(--primary-color);
}

.dialog-email div a:first-child:hover {
    background-color: var(--empty-input);
    color: var(--secundary-color);
}

@keyframes move-up-span {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
        font-size: 0.8rem;
    }
}

@keyframes move-down-span {
    0% {
        transform: translateY(-25px);
        font-size: 0.8rem;
    }
    100% {
        font-size: 1rem;
        transform: translateY(0px);
    }
}